.mySwiper {
  width: 100%;
  height: auto;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
